# PHP
*.log
*.cache
.htpasswd

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Environment
# return the .env file to the .gitignore file so that it doesn't get pushed to github.

#it was here!!
*.env
.env
config/local.php



#composer files - Mailer.php
composer.phar
composer.json
composer.lock
vendor/


# Uploads (if any)
uploads/*
!uploads/.gitkeep

# Temporary files
tmp/
temp/
